.*.swp
*.vtk
tests/
__pycache__

.idea/

source/misc/

source/optimization/

source/setups/

source/jax_plate/materials/
source/jax_plate/geometry/

source/jax_plate.egg-info/

source/sync.sh

source/jax_plate/accelerometers/
